<h1 class="page-header"><i class="fa fa-bullhorn"></i> Notice Board</h1>

<div id="noticesContainer" class="row"></div>

<div id="noNotices" class="text-center text-muted" style="display:none; padding:40px;">
    <i class="fa fa-inbox fa-3x"></i>
    <p class="m-t-10">No notices at this time.</p>
</div>

@section PageScripts {
    <script src="~/assets/static/js/ss-mynotices.js"></script>
}
