<h1 class="page-header"><i class="fa fa-bars"></i> Menu Access</h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="@Url.Action("Index","Dashboard")" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Menu Access Control</h4>
    </div>
    <div class="panel-body text-center p-t-40 p-b-40">
        <i class="fa fa-bars fa-4x text-muted m-b-20"></i>
        <h3 class="text-muted">Coming Soon</h3>
        <p class="text-muted">Menu access management is managed via the database seed scripts.<br />A UI for this feature is coming in a future release.</p>
    </div>
</div>
