<h1 class="page-header"><i class="fa fa-user-secret"></i> User Roles</h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="@Url.Action("Index","Dashboard")" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Assign User Roles</h4>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            User roles are assigned when creating or editing a user.
            Go to <a href="@Url.Action("PortalUsersIndex","AccessControl")">Portal Users</a> and use the Edit action to change a user's role.
        </div>
    </div>
</div>
